nav ul li a {
  margin: 0.25rem;
}

#logo {
  padding: 0.5rem;
  display: block;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 2rem;

  align-items: center;

  * {
    margin: 0;
  }
}

.title {
  opacity: 0.5;
}

iframe {
  border: none;
  height: 32rem;
  width: 50rem;
}

body {
  overflow-x: hidden;
}
